div#chat(data-role="page", data-theme="a")
  div(data-role="content")
    div#conversation
    div#chat-textfield
      input#input-message(type="text", name="message", value="")
      input#btn-send(type="button", value="Send", data-theme="c")

  include footer