div(data-role="footer", data-id="menu", data-position="fixed")
  div(data-role="navbar", data-iconpos="top")
    ul
      li
        a(href="#people", data-icon="grid", data-direction="reverse", data-transition="slide") People
      li
        a.chat-menu(href="#chat", data-icon="star", data-transition="slide") Chat
      li
        a(href="#settings", data-icon="gear", data-transition="slide") Settings