div(data-role="footer", data-id="menu", data-position="fixed")
  div(data-role="navbar", data-iconpos="top")
    ul
      li
        a(href="#people", data-icon="grid") People
      li
        a(href="#chat", data-icon="star") Chat
      li
        a(href="#settings", data-icon="gear") Settings