div#people(data-role="page", data-theme="a")
  div(data-role="content")
    fieldset.ui-grid-a
      div.ui-block-a
        img(src="img/Anne.jpeg")
        img(src="img/Angie.jpg")
        img(src="img/Anne.jpeg")
        img(src="img/Angie.jpg")
        img(src="img/Anne.jpeg")
        img(src="img/Angie.jpg")
      div.ui-block-b
        img(src="img/Angie.jpg")
        img(src="img/Anne.jpeg")
        img(src="img/Angie.jpg")
        img(src="img/Anne.jpeg")
        img(src="img/Angie.jpg")
        img(src="img/Anne.jpeg")
  include footer
