img {
    width: 95%;
}

#username-field {
    margin-left: 2em;
}

.bubbledLeft, .bubbledRight{
    margin-top: 3px;
    padding: 3px 5px 3px 5px;
    max-width: 80%;
    clear: both;
/*    border: 1px solid grey;
*/}

.bubbledLeft {
    float: left;
    margin-right: auto;
}

.bubbledRight {
    float: right;
    margin-left: auto;
    text-align: right;
}

.message-space {
    margin-right: 1em;
}

#chat-textfield {
    clear: both;
}

.center-wrapper {
    text-align: center;
}

.center-wrapper * {
    margin: 0 auto;
}

.alarm {
    color: red;
}