!!!5
html
  head
    include includes/head
    include includes/scripts

  body
    div(data-role="page", data-theme="a")
      div(data-role="header")
        h1 Login
      div(data-role="content")
        form(action="/login", method="post", data-ajax="false")
          label(for="username") Name:
          input(type="text", name="username", id="username", value="")
          label(for="password") Passwort:
          input(type="password", name="password", id="password", value="")

          - if (message)
            p #{message}

          input(type="submit", value="Login", data-theme="b")
        br
        a(href="/register", data-role="button", data-theme="e", rel="external") Neu hier?